# ДЗ по "Сбор и разметка данных (семинары)"
## Семинар 8. Работа с данными
* Домашнее задание:  

- Скачайте датасет House Prices Kaggle со страницы конкурса (https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data) и сохраните его в том же каталоге, что и ваш скрипт или блокнот Python.  
- Загрузите датасет в pandas DataFrame под названием df.  
- Выполните предварительную обработку данных, выполнив следующие шаги: 
   - Определите и обработайте отсутствующие значения в датасете. Определите, в каких столбцах есть отсутствующие значения, и решите, как их обработать (например, заполнить средним, медианой или модой, или отбросить столбцы/строки с существенными отсутствующими значениями). 
   - Проверьте и обработайте любые дублирующиеся строки в датасете. 
   - Проанализируйте типы данных в каждом столбце и при необходимости преобразуйте их (например, из объектных в числовые типы).  
- Проведите разведочный анализ данных (EDA), ответив на следующие вопросы: 
  - Каково распределение целевой переменной 'SalePrice'? Есть ли какие-либо выбросы?   
  - Исследуйте взаимосвязи между целевой переменной и другими характеристиками. Есть ли сильные корреляции? 
  - Исследуйте распределение и взаимосвязи других важных характеристик, таких как 'OverallQual', 'GrLivArea', 'GarageCars' и т.д. 
  - Визуализируйте данные, используя соответствующие графики (например, гистограммы, диаграммы рассеяния, квадратные диаграммы), чтобы получить представление о датасете.
- Выполните проектирование признаков путем реализации следующих преобразований: 
  - Работайте с категориальными переменными, применяя one-hot encoding или label encoding, в зависимости от характера переменной. 
  - При необходимости создайте новые характеристики, такие как общая площадь или возраст объекта недвижимости, путем объединения существующих характеристик.
- Сохраните очищенный и преобразованный набор данных в новый CSV-файл под названием 'cleaned_house_prices.csv'

In [1]:
# Уствнавливаем библиотеки, если они не установлены
# !pip install pandas

In [2]:
import pandas as pd

## Загрузка данных

### Загружаем датасет

In [3]:
df = pd.read_csv('./house-prices-advanced-regression-techniques/train.csv')

### Посмотрим, что загрузили

In [4]:
# Укажем в настройках, чтобы отображались все столбцы
pd.set_option('display.max_columns', None)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,NaN,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,NaN,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
# Вернем настройки в первоначальное состояние
pd.reset_option('display.max_columns')

### Информация о датафрейме

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

### Проверка пустых значений

In [7]:
# Настроим pd, чтобы выводились все строки 
pd.set_option('display.max_rows', None)
# Проверка того, в каких столбцах отсутствуют значения
print(df.isnull().sum(axis=0))
# Сбросим настройки вывода строк
pd.reset_option('display.max_rows')

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType        872
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

### Проверка дубликатов

In [8]:
# Посмотрим сколько у нас дублика
df.duplicated().sum()

0

## Замена пустых значений

### Поле 'LotFrontage' (Линейные футы улицы, соединенной с собственностью)

#### Посмотрим, что в поле 'LotFrontage'

In [9]:
df.groupby(['LotFrontage']).agg({'Id': ['count']})

               Id
            count
LotFrontage
21.0           23
24.0           19
30.0            6
32.0            5
33.0            1
...           ...
160.0           1
168.0           1
174.0           2
182.0           1
313.0           2

[110 rows x 1 columns]

#### Заполним недостающие значения медианой

In [10]:
median_lot_frontage = df['LotFrontage'].median()
df['LotFrontage'] = df['LotFrontage'].fillna(median_lot_frontage)

### Поле 'Alley' (Тип подъезда к собственности)

#### Посмотрим, что в поле 'Alley'

In [11]:
df.groupby(['Alley']).agg({'Id': ['count']})

         Id
      count
Alley
Grvl     50
Pave     41

#### Заполним недостающие значения строкой 'NA'

In [12]:
df['Alley'] = df['Alley'].fillna('NA')

### Поле 'MasVnrType' (Тип каменной облицовки)

#### Посмотрим, что в поле 'MasVnrType'

In [13]:
df.groupby(['MasVnrType']).agg({'Id': ['count']})

              Id
           count
MasVnrType
BrkCmn        15
BrkFace      445
Stone        128

#### Заполним недостающие значения строкой 'NA'

In [14]:
df['MasVnrType'] = df['MasVnrType'].fillna('NA')

### Поле 'MasVnrArea' (Площадь каменного шпона в квадратных футах)

#### Посмотрим, что в поле 'MasVnrArea'

In [15]:
df.groupby(['MasVnrArea']).agg({'Id': ['count']})

              Id
           count
MasVnrArea
0.0          861
1.0            2
11.0           1
14.0           1
16.0           7
...          ...
1115.0         1
1129.0         1
1170.0         1
1378.0         1
1600.0         1

[327 rows x 1 columns]

#### Заполним недостающие значения 0

In [21]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(0)

### Поле 'BsmtQual' (Высота подвала)

#### Посмотрим, что в поле 'BsmtQual'

In [23]:
df.groupby(['BsmtQual']).agg({'Id': ['count']})

            Id
         count
BsmtQual
Ex         121
Fa          35
Gd         618
TA         649

#### Заполним недостающие значения строкой 'NA'

In [24]:
df['BsmtQual'] = df['BsmtQual'].fillna('NA')

### Поле 'BsmtCond' (Общее состояние подвала)

#### Посмотрим, что в поле 'BsmtCond'

In [26]:
df.groupby(['BsmtCond']).agg({'Id': ['count']})

            Id
         count
BsmtCond
Fa          45
Gd          65
Po           2
TA        1311

#### Заполним недостающие значения строкой 'NA'

In [28]:
df['BsmtCond'] = df['BsmtCond'].fillna('NA')

### Поле 'BsmtExposure' (Стены подвала на уровне сада)

#### Посмотрим, что в поле 'BsmtExposure'

In [31]:
df.groupby(['BsmtExposure']).agg({'Id': ['count']})

                Id
             count
BsmtExposure
Av             221
Gd             134
Mn             114
No             953

#### Заполним недостающие значения строкой 'NA'

In [32]:
df['BsmtExposure'] = df['BsmtExposure'].fillna('NA')

### Поле 'BsmtFinType1' (Качество отделки цокольного этажа)

#### Посмотрим, что в поле 'BsmtFinType1'

In [34]:
df.groupby(['BsmtFinType1']).agg({'Id': ['count']})

                Id
             count
BsmtFinType1
ALQ            220
BLQ            148
GLQ            418
LwQ             74
Rec            133
Unf            430

#### Заполним недостающие значения строкой 'NA'

In [35]:
df['BsmtFinType1'] = df['BsmtFinType1'].fillna('NA')

### Поле 'BsmtFinType2' (Качество второй законченной области (если присутствует))

#### Посмотрим, что в поле 'BsmtFinType2'

In [39]:
df.groupby(['BsmtFinType2']).agg({'Id': ['count']})

                Id
             count
BsmtFinType2
ALQ             19
BLQ             33
GLQ             14
LwQ             46
Rec             54
Unf           1256

#### Заполним недостающие значения строкой 'NA'

In [40]:
df['BsmtFinType2'] = df['BsmtFinType2'].fillna('NA')

### Поле 'Electrical' (Электрическая система)

#### Посмотрим, что в поле 'Electrical'

In [42]:
df.groupby(['Electrical']).agg({'Id': ['count']})

              Id
           count
Electrical
FuseA         94
FuseF         27
FuseP          3
Mix            1
SBrkr       1334

#### Заполним недостающие значения строкой 'SBrkr'

In [45]:
df['Electrical'] = df['Electrical'].fillna('SBrkr')

### Поле 'GarageType' (Расположение гаража)

#### Посмотрим, что в поле 'GarageType'

In [51]:
df.groupby(['GarageType']).agg({'Id': ['count']})

              Id
           count
GarageType
2Types         6
Attchd       870
Basment       19
BuiltIn       88
CarPort        9
Detchd       387

#### Заполним недостающие значения строкой 'NA'

In [52]:
df['GarageType'] = df['GarageType'].fillna('NA')

### Поле 'GarageYrBlt' (Год постройки гаража)

#### Посмотрим, что в поле 'GarageYrBlt'

In [54]:
df.groupby(['GarageYrBlt']).agg({'Id': ['count']})

               Id
            count
GarageYrBlt
1900.0          1
1906.0          1
1908.0          1
1910.0          3
1914.0          2
...           ...
2006.0         59
2007.0         49
2008.0         29
2009.0         21
2010.0          3

[97 rows x 1 columns]

#### Заполним недостающие значения 0

In [56]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(0)

### Поле 'GarageFinish' (Внутренняя отделка гаража)

#### Посмотрим, что в поле 'GarageFinish'

In [61]:
df.groupby(['GarageFinish']).agg({'Id': ['count']})

                Id
             count
GarageFinish
Fin            352
NA              81
RFn            422
Unf            605

#### Заполним недостающие значения 0

In [59]:
df['GarageFinish'] = df['GarageFinish'].fillna('NA')

### Поле 'GarageQual' (Качество гаража)

#### Посмотрим, что в поле 'GarageQual'

In [64]:
df.groupby(['GarageQual']).agg({'Id': ['count']})

              Id
           count
GarageQual
Ex             3
Fa            48
Gd            14
NA            81
Po             3
TA          1311

#### Заполним недостающие строкой 'NA'

In [65]:
df['GarageQual'] = df['GarageQual'].fillna('NA')

### Поле 'GarageCond' (Состояние гаража)

#### Посмотрим, что в поле 'GarageCond'

In [68]:
df.groupby(['GarageCond']).agg({'Id': ['count']})

              Id
           count
GarageCond
Ex             2
Fa            35
Gd             9
NA            81
Po             7
TA          1326

#### Заполним недостающие строкой 'NA'

In [67]:
df['GarageCond'] = df['GarageCond'].fillna('NA')

### Поле 'PoolQC' (Качество бассейна)

#### Посмотрим, что в поле 'PoolQC'

In [73]:
df.groupby(['PoolQC']).agg({'Id': ['count']})

          Id
       count
PoolQC
Ex         2
Fa         2
Gd         3
NA      1453

#### Заполним недостающие строкой 'NA'

In [72]:
df['PoolQC'] = df['PoolQC'].fillna('NA')

### Поле 'Fence' (Качество забора)

#### Посмотрим, что в поле 'Fence'

In [76]:
df.groupby(['Fence']).agg({'Id': ['count']})

         Id
      count
Fence
GdPrv    59
GdWo     54
MnPrv   157
MnWw     11
NA     1179

#### Заполним недостающие строкой 'NA'

In [75]:
df['Fence'] = df['Fence'].fillna('NA')

### Поле 'MiscFeature' (Прочая функция, не охваченная другими категориями)

#### Посмотрим, что в поле 'MiscFeature'

In [79]:
df.groupby(['MiscFeature']).agg({'Id': ['count']})

               Id
            count
MiscFeature
Gar2            2
NA           1406
Othr            2
Shed           49
TenC            1

#### Заполним недостающие строкой 'NA'

In [78]:
df['MiscFeature'] = df['MiscFeature'].fillna('NA')

### Проверим пустые значения датафрейма

In [80]:
# Настроим pd, чтобы выводились все строки 
pd.set_option('display.max_rows', None)
# Проверка того, в каких столбцах отсутствуют значения
print(df.isnull().sum(axis=0))
# Сбросим настройки вывода строк
pd.reset_option('display.max_rows')

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
FireplaceQu      0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
PoolQC           0
Fence            0
MiscFeature      0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
dtype: int64

## Проведём разведочный анализ данных (EDA)

In [50]:
df.groupby(['FireplaceQu']).agg({'Id': ['count']})

               Id
            count
FireplaceQu
Ex             24
Fa             33
Gd            380
NA            690
Po             20
TA            313

In [ ]:
# Посмотрим как часто встречаются значения поля MSZoning(str) (Общая классификация зонирования)
df.groupby(['GarageType']).agg({'Id': ['count']})

In [ ]:
# Заменим нулеве значения на RL
df.loc[df['MSZoning'].isnull(), 'MSZoning'] = 'RL'
# Посмотрим как часто встречаются значения поля MSZoning
df.groupby(['MSZoning']).agg({'Id': ['count']})

In [ ]:
df.info()

In [ ]:
import sys
print(sys.version)